.idea/
.__py*
__pycache__/
*.idea/
meituan_waimai/foods1
*/foods*/
meituan_waimai/spider_v1/foods1
meituan_waimai/chromedriver
meituan_waimai/spider_v2/chromedriver
researchgate/researchGate_id.py
**/chromedriver
researchgate/author.txt